name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test bandit
    steps:
      - name: Checkout
        uses: actions/checkout@v4
  
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.21

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: ghcr.io/${{ github.repository }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run bandit
        uses: ./

      - name: Run bandit with a single target
        uses: ./
        with:
          targets: "test_package"

      - name: Run bandit with a list of targets
        uses: ./
        with:
          targets: |
            test_package
